<!--<div id="carouselExampleIndicators"
     class="carousel slide"
     data-ride="carousel"
     data-interval="10000">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active "
             style="background-image: url(/images/490912.jpg)">
            <div class="carousel-caption text-center">
                <h1>Welcome to<br /> What A Movie</h1>
                <h3>Don't forget to bring your popcorn</h3>
                <a class="btn btn-outline-light btn-lg" asp-action="Index" asp-controller="Movies">All Movies</a>
            </div>
        </div>
    </div>
</div>-->
<!DOCTYPE html>
<html>
<head>
    <link href="~/content/landing.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="txt">
                <h1>Welcome to<br /> What A Movie</h1>
                <h3>Don't forget to bring your popcorn</h3>
                <a class="btn btn-outline-light btn-lg" asp-action="Index" asp-controller="Movies">All Movies</a>
            </div>
        </div>
    </div>
</body>
</html>
<!--
<footer>
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <p>This is footer, i will fix it later</p>
            <strong>Contact Us</strong>
            <p>
                +2160000000<br />
                email@email.com
            </p>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <hr class="socket">
    &copy;What A Movie.

</footer>-->
