body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    
}

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    
}
nav {
    max-height: 50px;
    background-color:black;
}

footer{
    background-color: #40474e;
    color:white;
    padding:2rem 0 3rem;
    
}
footer a {
    color:white;
}
footer svg.svg-inline--fa{
    font-size:1.6rem;
    margin: 1.2rem .5rem 0 0 ;
}
footer svg.svg-inline--fa:hover{
    color: #1ebba3;
}
hr.socket {
    border-top: .2rem solid #666b71;
    width: 100%;
}
/**Movie Card*/
.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}