    <li class="dropdown">
        <a asp-controller="Admin" asp-action="Index">Admin</a>
        <ul class="dropdown-menu">
            <li>
                <a asp-controller="Admin" asp-action="UserManagement">User Management</a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="RoleManagement">Role Management</a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="MovieManagement">Movie Management</a>
            </li>
        </ul>
    </li>